<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Admin</title>
        <link rel="stylesheet" href="/static/lib/core/ext-4.2.1.883/resources/ext-theme-neptune/ext-theme-neptune-all.css" type="text/css" media="screen" charset="utf-8">
        <style type="text/css" media="screen">
              body, * {
                  font-family: Consolas, monaco, monospace !important;
              }

              div.x-panel-body {
                  border-radius: 2px;
              }
        </style>

        <!-- Core lib -->
        <script src="/static/lib/core/requirejs/require.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/core/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/core/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/core/notifyjs/dist/notify-combined.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/core/ext-4.2.1.883/ext-all-debug.js" type="text/javascript" charset="utf-8"></script>

        <!-- Extend Lib -->
        <script src="/static/lib/extend/util.js" type="text/javascript" charset="utf-8"></script>

        <!-- modify and extend ExtJs -->
        <script src="/static/lib/extend/extended_extjs.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/extend/validations.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/extend/url2object.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/extend/grid_filterable.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/extend/grid_multisort.js" type="text/javascript" charset="utf-8"></script>

        <!-- for generic inquiry page -->
        <script src="/static/lib/extend/act_as_inquiry_plugin.js" type="text/javascript" charset="utf-8"></script>

        <!-- serialize form -->
        <script src="/static/lib/extend/form2js.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/lib/extend/js2form.js" type="text/javascript" charset="utf-8"></script>

        {% block head_script %}
        {% endblock %}
    </head>
    <body></body>
</html>
